{% extends 'dashboard_client/base.html' %}


{% block superior %}

<!-- esse bloco está à cima do menu -->

{% endblock %} 

<!-- o menu está no base.html e aparece aqui -->

{% block conteudo %}
<div class="container-fluid" style="margin-top: 2%">

	<div class="container" style="width: 100%">
	  {% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-warning alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          {{ message }}
	        </div>
	    {% endfor %}
	  {% endif %}
	</div>

	<div class="container-fluid">
		{% if order %}
		<div class="container">
		  <h2>Data do Pedido: {{order.date}}</h2>
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Produto</th>
		        <th>Preço</th>
		        <th>Quantidade</th>
		        <th>Valor R$</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		    	{% for orderItem in orderItems %}
		      <tr>
		        <td>{{orderItem.product}}</td>
		        <td>{{orderItem.product.value}}</td>
		        <td title="Alterar a Quantidade" 
		        id='{{orderItem.id}}'>
		        	<a href="#" 
		        	onclick="alterQuantity('{{orderItem.id}}');">
		        		{{orderItem.quantity}} 
		        	</a>
		        </td>
		        <td>{{orderItem.value}}</td>
		        <td>
		        	<a href="{% url 'dashboard_client:delete_orderitem' orderItem.id %}" 
		        	class="btn btn-danger">
		        		Deletar
		        	</a>
		        </td>
		      </tr>
		      	{% endfor %}
		      
		    </tbody>
		  </table>
		  <table class="table">
		  	<td><h3>Total R$</h3></td>
		  	<td><h3>R$ {{total}}</h3></td>
		  </table>
		</div>
		
		<div class="container">
		  <button type="button" class="btn btn-primary">Enviar Pedido</button>
		  <a type="button" class="btn btn-warning" 
		  href="{% url 'dashboard_client:cancel_order' order.id %}">
		  	Cancelar
		  </a>    
		</div>

		<!-- formas de pagamento -->
		<div class="container" style="margin-top: 2%">
		  	<h2>Formas de Pagamento</h2>
		  	<p>This is some text.</p>
		</div>
		

		{% else %}
		<div>Seu Carrinho está vazio</div>
		{% endif %}
		
		
	</div>
</div>
{% endblock %} <!-- fim do bloco conteudo -->

<!-- roda pé que está na página base.html aparece aqui -->
