{% extends 'dashboard_client/base.html' %}
{% load dc_tags %}

{% block superior %}

<!-- esse bloco está à cima do menu -->

{% endblock %} 

{% block conteudo %}
<div class="panel panel-default table-two-column detail-panel">

	<div class="container">
	  {% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-warning alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          {{ message }}
	        </div>
	    {% endfor %}
	  {% endif %}
	</div>

	{% block dashboard_title %}
	<div class="panel-heading" style="margin: 2%;">
		<h5>Área do Cliente -> Detalhes do Pedido </h5>
	</div>
	{% endblock %}

	<div class="panel-body">

		<h3>Detalhes do Pedido</h3>
		<table class="table">
			<tr>
				<td>ID</td><td>{{order.id}}</td>
			</tr>
			<tr>
				<td>Data</td><td>{{order.date}}</td>
			</tr>
			<tr>
				<td>Valor R$</td><td>{{order.value}}</td>
			</tr>
			<tr>
				<td>Encaminhado</td><td>{% forwarded order.forwarded %}</td>
			</tr>
			
		</table>

		<h3 style="margin-top: 5%;">Ítems do Pedido</h3>
		<table class="table">
			{% for item in items %}
			<tr>
				<td>Produto</td>
				<td>{{ item.product }}</td>
			</tr>
			<tr>
				<td>Quantidade</td>
				<td>{{ item.quantity }}</td>
			</tr>
			<tr>
				<td>Preço</td>
				<td>{{ item.product.value }}</td>
			</tr>
			<tr>
				<td>Valor R$</td>
				<td>{% get_value item.quantity item.product.value %}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			{% endfor %}
		</table>
		
		<h3>Total: R${{order.value}}</h3>

		
 	</div>
</div>
{% endblock %} <!-- fim do bloco conteudo -->