{% extends 'dashboard_admin/base.html' %}
{% load widget_tweaks %}

{% block superior %}

<!-- esse bloco está à cima do menu -->

{% endblock %} 

<!-- o menu está no base.html e aparece aqui -->

{% block conteudo %}
<div class="panel panel-default table-two-column">

	<div class="container">
	  {% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-warning alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          {{ message }}
	        </div>
	    {% endfor %}
	  {% endif %}
	</div>

	{% block dashboard_title %}
	<div class="panel-heading" style="margin: 2%;">
		<h5>Área Administrativa -> Pedidos Recebidos </h5>
	</div>
	{% endblock %}

	<div class="panel-body">
		 <table id="table" class="display" cellspacing="0" 
		        width="100%">
		    <thead>
		      <tr>
		        <th>Data</th>
		        <th>Valor</th>
		        <th>Cliente</th>
		      </tr>
		    </thead>

		    <tfoot>
		      <tr>
		        <th>Data</th>
		        <th>Valor</th>
		        <th>Cliente</th>
		      </tr>
		    </tfoot>

		    <tbody>
				{% for order in orders %}

				<tr>
					<td style="text-align: center;">
						<a href="{% url 'dashboard_admin:order_datail' order.id %}" 
						title="Detalhes">
					  	{{ order.date }}
						</a>
					</td>

					<td style="text-align: center;">
						{{ order.value }}
					</td>

					<td style="text-align: center;">
						<a href="#" 
							title="Informações do Cliente"
							data-toggle="modal"
							data-target="#myModal">
							{{ order.user }}
						</a>
					</td>

				</tr>

				{% endfor %}    
		    </tbody>
		  </table> 

		  <!-- modal frame -->

			<!-- The Modal -->
			<div class="modal" id="myModal">
			  	<div class="modal-dialog">
			    	<div class="modal-content">

				      <!-- Modal Header -->
				      <div class="modal-header">
				        <h4 class="modal-title">
				        	Informações do Cliente
				        </h4>
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>

				      <!-- Modal body -->
				      <div class="modal-body">
				        <table class="table">
				        	<tr>
			        			<td>Nome</td><td>Fulano de tal</td>
			        		</tr>
			        		<tr>
			        			<td>Rua</td><td>Rua Amarioldo Bastos</td>
			        		</tr>
			        		<tr>
			        			<td>Número</td><td>789</td>
			        		</tr>
			        		<tr>
			        			<td>Telefone</td><td>85789855652</td>
			        		</tr>
				        </table>
				      </div>

				      <!-- Modal footer -->
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				      </div>

			    </div>
			  </div>
			</div>
		  <!-- end modal frame -->

	</div>
</div>
{% endblock %} <!-- fim do bloco conteudo -->

<!-- roda pé que está na página base.html aparece aqui -->
