{% extends 'dashboard_admin/base.html' %}
{% load widget_tweaks %}

{% block superior %}

<!-- esse bloco está à cima do menu -->

{% endblock %} 

<!-- o menu está no base.html e aparece aqui -->

{% block conteudo %}
<div class="panel panel-default form-central">

	<div class="container" style="width: 100%">
	  {% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-warning alert-dismissable">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          {{ message }}
	        </div>
	    {% endfor %}
	  {% endif %}
	</div>

	{% block dashboard_title %}
	<div class="panel-heading" style="margin: 2%;">
		<h5>Área Administrativa -> todas as Categorias </h5>
	</div>
	{% endblock %}

	<div class="panel-body">
		 <table id="table" class="display" cellspacing="0" 
		        width="100%">
		    <thead>
		      <tr>
		        <th>ID</th>
		        <th>Nome</th>
		      </tr>
		    </thead>

		    <tfoot>
		      <tr>
		        <th>ID</th>
		        <th>Nome</th>
		      </tr>
		    </tfoot>

		    <tbody>
				{% for category in categories %}

				<tr>
					<td style="text-align: center;">
						<a href="#" 
						title="Editar Categoria">
					  	{{ category.id }}
						</a>
					</td>

					<td style="text-align: center;">
						{{ category.name }}
					</td>
				</tr>

				{% endfor %}    
		    </tbody>
		  </table> 
	</div>
</div>
{% endblock %} <!-- fim do bloco conteudo -->

<!-- roda pé que está na página base.html aparece aqui -->
